@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    background: #333;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

h1 {
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 94%;
    font-size: 16px;
    letter-spacing: 3px;
    color: #000000;
    font-family: Montserrat, sans-serif;
    text-align: right;
}
